{% include header.html %}

<!-- Post list -->
{% assign posts = site.posts | sort: 'priority' %}
{% for post in posts %}
  {% if post.category == page.category %}
    <div class="row post-row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-7">
            <img class="img-responsive feature-img" src="{{ post.feature_image }}"></img>
          </div>
          <div class="col-md-5">
            {% if post.detail %}
              <a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title | escape }}</h3></a>
              <span class="post-date">{{ post.date | date: "%Y" }}</span>
              <p class="text-left">{{ post.excerpt }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
            {% else %}
              <h3>{{ post.title | escape }}</h3>
              <span class="post-date">{{ post.date | date: "%Y" }}</span>
              <p class="text-left">{{ post.content }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <hr>
  {% endif %}
{% endfor %}

{% include footer.html %}